.astro{
    position: absolute;
width: 1206.51px;
height: 641px;
left: 233px;
top: 104px;

}
.background{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}
.logo{
    position: absolute;
width: 78px;
height: 78px;
left: 113px;
top: 166px;

filter: drop-shadow(40px 40px 4px rgba(0, 0, 0, 0.25));
/* z-index: 999; */
}

.ellipse{
box-sizing: border-box;
position: absolute;
width: 1518px;
height: 1637px;
left: -1000px;
top: -1544px;
background: linear-gradient(0deg, #FF4400, #FF4400);
filter: blur(600px);
z-index: 1;
}