.container{
    /* AA LOGIN CARD */


box-sizing: border-box;

position: absolute;
left: 40.9%;
right: 13.82%;
top: 33.89%;
bottom: 28.81%;

background: #1E1E1E;
border: 7px solid #262323;
box-shadow: 40px 40px 4px rgba(0, 0, 0, 0.25);
border-radius: 33px;
z-index: 9999;
}
.textoncards{
    position: absolute;
width: 579px;
height: 296px;
left: 630px;
top: 384px;
}
.textone{
    position: absolute;
left: 52.92%;
right: 26.46%;
top: 37.5%;
bottom: 59.57%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 30px;
/* identical to box height, or 130% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.4px;

background: linear-gradient(180deg, #FFFFFF 0%, #3C2F2B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
}